@{
    Layout = "_Layout";
}

<title> Ski Buddies | Will Francom</title>

<head>
    <link rel="icon" type="image/png" href="~/alpine.png" />
</head>

<a class="navbar-brand" asp-controller="Home" asp-action="Index">
    Ski Buddy
</a>






<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - Ski Buddy - Built by William Francom
    </div>
</footer>
