@{
    ViewData["Title"] = "Home";
}

<div class="text-center mb-4">
    <h1 class="display-4">Your Personal Skiing Buddy ⛷️</h1>
    <p class="lead">
        Ski the mountain with someone who knows how to have a good time.
    </p>
</div>

<hr />

<div class="row mb-4 justify-content-center">
    <div class="col-md-5 text-center">
        <img src="~/images/lift.jpeg"
             class="img-fluid rounded shadow-sm"
             style="max-height: 250px; object-fit: cover;"
             alt="Skiing on the mountain" />
    </div>

</div>

<div class="container">
    <p>
        Skiing has always been one of my favorite hobbies. There’s nothing better
        than spending a full day on the mountain, exploring new runs, and enjoying
        the views from the lifts.
    </p>
    <div class="col-md-5 text-center">
        <img src="~/images/pose.jpeg"
             class="img-fluid rounded shadow-sm"
             style="max-height: 250px; object-fit: cover;"
             alt="Ski lift view" />
    </div>
    <p>
        Whether you’re newer to skiing or just don’t want to ski alone, having a
        skiing buddy can make the day way more fun. I focus on keeping things relaxed,
        helping you navigate the mountain, and making sure you’re comfortable and
        confident on the slopes.
    </p>

    <p>
        This site lets you learn more about my skiing hobby and calculate how much
        it would cost to hire me as your skiing buddy for the day.
    </p>
</div>
